.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.noData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.boxContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#rightpart {
    margin-top: 200px;
}