.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.noData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.addBtnContainer {
  position: fixed;
  right: 30px;
  bottom: 80px;
  z-index: 1000;
}

#btnAddActivity {
  color: orange;
  font-size: x-large;
}

.animationBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.activityAction {
  flex-grow: 1;
  margin-left: 20%;
}

@media only screen and (max-width: 767px) {
  .animationBox {
    flex-wrap: wrap;
  }
  .activityAction {
    width: 100%;
  }
}

.grid {
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 767px) {
  .addBtnContainer {
      position: relative;
      margin: 2rem;
      padding: 0px;
  }

  .grid {
      padding: 0px;
  }
}