.grid {
    width: 100%;
    display: grid;
    grid-template-columns: 100% 1%;
    grid-template-rows: 100%;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.flexDots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -50px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
}

.listContainer {
    width: 360px;
}

.titleContainer {
    display: flex;
    justify-content: center;
}

.titlePaper {
    display: flex;
    width: 360px;
    justify-content: center;
}

.deleteFab {
    background-color :'#f48fb1';
}

.deleteFab:hover {
    background-color: '#aa647b';
}
