.animation {
    position: fixed;
    top: 83px;
    margin: 0;
    padding: 0;
    left:0;
    width: 150%;
    z-index: -1;
}


@media only screen and (max-width: 1283px){
    .animation {
        transform: rotate(90deg) translateY(-100%);
        transform-origin: top left;
        /* width: max-content; */
        width: 200%;
    }
}

@media only screen and (max-width: 678px){
    .animation {
        transform: rotate(90deg) translateY(-100%);
        transform-origin: top left;
        width: max-content;
    }
}

.lottie {
    /* height: 100vh; */
    /* width: 100%; */
}