.titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    flex-direction: column;
}

.detailsContainer{
    display: flex;
    flex-direction: column;
    width: 90vw;
}

.container1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.container3 {
    display: flex;
    flex-direction: column;
}