.outsideContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    width: 100%;
}

.titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0;
    margin-top: 1.5rem;
}

.detailsContainer{
    display: flex;
    flex-direction: column;
    border: none;
    width: 100%;
}

.container1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: none;
    padding: 0;
}

.container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: none;
    padding: 0;
}

.container3 {
    display: flex;
    flex-direction: column;
    border: none;
    padding: 0;
}