.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.noData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.addBtnContainer {
    position: fixed;
    right: 30px;
    bottom: 80px;
    z-index: 1000;
}

#btnAddCompany {
    color: orange;
    font-size: x-large;
}

.grid {
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 767px) {
    .addBtnContainer {
        position: relative;
        margin: 2rem;
        padding: 0px;
    }

    .grid {
        padding: 0px;
    }
}