.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.noData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.addBtnContainer {
    margin: 2rem;
}

#btnAddCompany {
    color: orange;
    font-size: x-large;
}

.grid {
    display: flex;
    justify-content: center;
}