.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.noData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


@media only screen and (min-width: 767px) {
    .boxContainer {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .rightpart {
        width: 65%;
    }
}


#btnAddContact{
    color: orange;
    font-size: x-large;
}

.addBtnContainer {
    position: fixed;
    right: 30px;
    bottom: 80px;
    z-index: 1000;
}

.grid {
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 767px) {
    .addBtnContainer {
        position: static;
        margin: 2rem;
        padding: 0px;
    }

    .grid {
        padding: 0px;
    }
}