.grid {
    display: grid;
    grid-template-columns: 100% 15%;
    grid-template-rows: 100%;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.outsideContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    width: 100%;
}

.titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0;
    margin-top: 1.5rem;
}

.titleHeader {
    display: flex;

}

.detailsContainer{
    display: flex;
    flex-direction: column;
    border: none;
    width: 100%;
}

.container1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: none;
    padding: 0;
    width: 100%;
}

.container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: none;
    padding: 0;
    width: 100%;
}

.container2left,
.container2right {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;

    width: 50%;
}

.container2left{
    background-color: rgba(45, 193, 238, 0.1);
}

.container2right{
    background-color: rgba(252, 55, 84, 0.1);
}

.container3 {
    display: flex;
    flex-direction: column;
    border: none;
    padding: 0;
}

.statusGrid {
    display: grid;
    grid-template-columns: 20% 150%;
    grid-template-rows: 100%;
}