.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 1rem;
    margin: 0 2rem;
}

.form {
    display: flex;
    flex-direction: column;
    width: 80%;
    overflow: hidden;
    gap: 1rem;
    margin-top: 1rem;
    padding-top: 1rem;
    margin-bottom: 5rem;
}