.grid {
    display: grid;
    grid-template-columns: 100% 15%;
    grid-template-rows: 100%;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleContainer {
    display: flex;
    justify-content: center;
}

.titlePaper {
    display: flex;
    width: 360px;
    justify-content: space-between;
}

.listContainer {
    width: 360px;
}
