.grid {
    width: 100%;
    display: grid;
    grid-template-columns: 100% 1%;
    grid-template-rows: 100%;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.flexDots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -50px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleContainer {
    display: flex;
    justify-content: center;
}

.titlePaper {
    display: flex;
    width: 360px;
    justify-content: space-between;
}

.listContainer {
    width: 360px;
}
