.App {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  overflow-y: auto;
}

input {
  display: block;
  margin: 5px 0 5px;
}

.bottom-nav {
  position: sticky;
  bottom: 0;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .bottom-nav {
    display: none;
  }
}

